.Footer {
    height: 50vh;
    background-color: #111111;

    color: #eeeeee;
    width: 100%;
}
.Footer-container {
    display: flex;
    height: 100%
    
}
.column {
    display: flex;
    flex-direction: column;
}
.column-item {
    margin-bottom: 15px;
}
.Footer-left {
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    height: 100%;
    display: flex;
}
.Footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}
.row {
    display: flex;
}
.Logo {
    font-size: 30px;
}
.Footer-para {
    font-size: 20px;
}
.Heading_md {
    font-size: 20px;
}
.Footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.Header-container {
    height: 120px;
    width: 100%;
    line-height: 120px;
}
.Header-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.Bullet-item:hover {
    font-size: 30px;
}
.Bullet-container {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.Image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Image {
    background-color: #0CB8FB ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.Image-text-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 100px;
}
.Heading_lg {
    font-size: 60px;
    margin: 0;
    padding-left: 20px;
    border-left: #eee000 solid 5px;
}
.Para_md {
    font-size: 30px;
}
.Button_lg {
    border: solid #eee000 5px;
    background-color: transparent;
    border-radius: 15px;
    height: 2.5em;
    width: 13em;
    color: #ffffff;
    font-size: 30px;
}
.Button_sm {
    border: solid #ffffff 5px;
    background-color: transparent;
    border-radius: 15px;
    height: 2.5em;
    width: 13em;
    color: #ffffff;
    font-size: 19px;
}
.Button_sm:hover {
    color: #111111;
    background-color: #fff;
}
.Button_lg:hover {
    background-color: #eee000;
}
.Divider {
    height: 200px;
}
.Lemon-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.Lemon-wrap {
    height: 80vh;
    width: 90%;
    display: flex;
    justify-content: space-between;

}
.Lemon-kind {
    height: 100%;
    width: 30%;
}
.Lemon-kind_mel {
    background-color: #eee000;
}
.Lemon-kind_wat {
    background-color: #ee0000;
}
.Lemon-kind_lem {

    background-color: #00ee00;
}
.Lemon-kind-text {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    color: #eeeeee;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.Lemon-heading {
    margin: 0;
    font-size: 30px;
}
.Para_sm {
    font-size: 20px;
    width: 20em;
}
.Testa-container {
    height: 50vh;
    width: 100%;

}
.Testa-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 50vh;
    width: 100%;
    color: #424242;
}
.Testa-para{
    width: 40%;
    text-align: center;
}
.Testa-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #222222;
}
.Testa-name {
    margin-top: 20px;
}